# Introduction to Pandas

### Outline
* [Getting started](#getting-started)
* [Data structures](#data-structures)
    * Series
    * DataFrame
* [Series overview](#series-overview)
    * Creating 
    * index
    * values
* [DataFrame overview](#dataframe-overview)
    * Creating empty DataFrame
    * Creating a DataFrame from a Python dict
    * Adding columns
    * Appending rows to the DataFrame
* [DataFrame characteristics](#dataframe-characteristics)
    * shape
    * describe 
    * head
    * tail
* [DataFrame indexing](#dataframe-indexing)
    * Using iloc to select single row
    * Using iloc to select multiple rows (slicing)
    * Using iloc to select multiple rows with steps (slicing with steps)
    * Setting an index
    * Using loc to select a single row
* [Conditionals](#conditionals)
* [Resources](#resources)

<a id="getting-started"></a>
### Getting Started

By convention, when imported pandas is typically aliased as pd.

In [1]:
import pandas as pd

<a id="data-structures"></a>
### Data Structures

**Series**
Series are designed to accomodate a sequence of one-dimentional data.  

**DataFrame**
Dataframes are designed to contain cases with several dimensions.

<a id="series-overview"></a>
### Series Overview

[Series](https://pandas.pydata.org/pandas-docs/stable/reference/series.html) is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.).

In [2]:
s = pd.Series([1, 2, 3, 4])

In [3]:
s

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
type(s.index)

pandas.core.indexes.range.RangeIndex

In [6]:
s.values

array([1, 2, 3, 4])

In [7]:
# the values in a Series is simply a numpy ndarray
type(s.values)

numpy.ndarray

<a id="dataframe-overview"></a>
### DataFrame Overview

[DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html) is a 2-dimensional labeled data structure with columns of potentially different types.

**Creating an empty DataFrame**

In [8]:
f1_2019_races = pd.DataFrame()

In [9]:
f1_2019_races

Empty DataFrame
Columns: []
Index: []

**Creating a DataFrame from a Python dict**

[data source](https://www.formula1.com/en/results.html/2019/races.html)

In [10]:
races_dict = {
    "grand_prix": [ 
        'Australia', 'Bahrain', 'China', 
        'Azerbaijan', 'Spain', 'Monaco', 
        'Canada', 'France', 'Austria', 
        'Great Britain', 'Germany', 'Hungary', 
        'Belgium', 'Italy', 'Singapore', 
        'Russia', 'Japan', 'Mexico', 
        'United States', 'Brazil',
    ],
    "laps": [
        58, 57, 56,
        51, 66, 78,
        70, 53, 71, 
        52, 64, 70,
        44, 53, 61,
        53, 52, 71, 
        56, 71, 
    ]
}

In [11]:
f1_2019_races = pd.DataFrame(races_dict)

In [12]:
f1_2019_races

       grand_prix  laps
0       Australia    58
1         Bahrain    57
2           China    56
3      Azerbaijan    51
4           Spain    66
5          Monaco    78
6          Canada    70
7          France    53
8         Austria    71
9   Great Britain    52
10        Germany    64
11        Hungary    70
12        Belgium    44
13          Italy    53
14      Singapore    61
15         Russia    53
16          Japan    52
17         Mexico    71
18  United States    56
19         Brazil    71

**Adding columns to a DataFrame**

In [13]:
f1_2019_races['winner'] = [
    'Valtteri Bottas', 'Lewis Hamilton', 'Lewis Hamilton',
    'Valtteri Bottas', 'Lewis Hamilton', 'Lewis Hamilton',
    'Lewis Hamilton', 'Lewis Hamilton', 'Max Verstappen',
    'Lewis Hamilton', 'Max Verstappen', 'Lewis Hamilton',
    'Charles Leclerc', 'Charles Leclerc', 'Sebastian Vettel',
    'Lewis Hamilton', 'Valtteri Bottas', 'Lewis Hamilton',
    'Valtteri Bottas', 'Max Verstappen',
]

In [14]:
f1_2019_races['car'] = [
    'MERCEDES', 'MERCEDES', 'MERCEDES', 
    'MERCEDES', 'MERCEDES', 'MERCEDES', 
    'MERCEDES', 'MERCEDES', 'RED BULL RACING HONDA',
    'MERCEDES', 'RED BULL RACING HONDA', 'MERCEDES',
    'FERRARI', 'FERRARI', 'FERRARI', 
    'MERCEDES', 'MERCEDES', 'MERCEDES', 
    'MERCEDES', 'RED BULL RACING HONDA'
]

In [15]:
f1_2019_races

       grand_prix  laps            winner                    car
0       Australia    58   Valtteri Bottas               MERCEDES
1         Bahrain    57    Lewis Hamilton               MERCEDES
2           China    56    Lewis Hamilton               MERCEDES
3      Azerbaijan    51   Valtteri Bottas               MERCEDES
4           Spain    66    Lewis Hamilton               MERCEDES
5          Monaco    78    Lewis Hamilton               MERCEDES
6          Canada    70    Lewis Hamilton               MERCEDES
7          France    53    Lewis Hamilton               MERCEDES
8         Austria    71    Max Verstappen  RED BULL RACING HONDA
9   Great Britain    52    Lewis Hamilton               MERCEDES
10        Germany    64    Max Verstappen  RED BULL RACING HONDA
11        Hungary    70    Lewis Hamilton               MERCEDES
12        Belgium    44   Charles Leclerc                FERRARI
13          Italy    53   Charles Leclerc                FERRARI
14      Singapore    61  Sebastian Vettel                FERRARI
15         Russia    53    Lewis Hamilton               MERCEDES
16          Japan    52   Valtteri Bottas               MERCEDES
17         Mexico    71    Lewis Hamilton               MERCEDES
18  United States    56   Valtteri Bottas               MERCEDES
19         Brazil    71    Max Verstappen  RED BULL RACING HONDA

In [16]:
# A column in a DataFrame is simply a Series 
type(f1_2019_races['grand_prix'])

pandas.core.series.Series

**Appending rows to the DataFrame**

In [17]:
abu_dhabi_race = pd.Series(['Abu Dhabi', 55, 'Lewis Hamilton', 'MERCEDES'],
                           index=['grand_prix', 'laps', 'winner', 'car'])

In [18]:
f1_2019_races = f1_2019_races.append(abu_dhabi_race, ignore_index=True)

In [19]:
f1_2019_races

       grand_prix  laps            winner                    car
0       Australia    58   Valtteri Bottas               MERCEDES
1         Bahrain    57    Lewis Hamilton               MERCEDES
2           China    56    Lewis Hamilton               MERCEDES
3      Azerbaijan    51   Valtteri Bottas               MERCEDES
4           Spain    66    Lewis Hamilton               MERCEDES
5          Monaco    78    Lewis Hamilton               MERCEDES
6          Canada    70    Lewis Hamilton               MERCEDES
7          France    53    Lewis Hamilton               MERCEDES
8         Austria    71    Max Verstappen  RED BULL RACING HONDA
9   Great Britain    52    Lewis Hamilton               MERCEDES
10        Germany    64    Max Verstappen  RED BULL RACING HONDA
11        Hungary    70    Lewis Hamilton               MERCEDES
12        Belgium    44   Charles Leclerc                FERRARI
13          Italy    53   Charles Leclerc                FERRARI
14      Singapore    61  Sebastian Vettel                FERRARI
15         Russia    53    Lewis Hamilton               MERCEDES
16          Japan    52   Valtteri Bottas               MERCEDES
17         Mexico    71    Lewis Hamilton               MERCEDES
18  United States    56   Valtteri Bottas               MERCEDES
19         Brazil    71    Max Verstappen  RED BULL RACING HONDA
20      Abu Dhabi    55    Lewis Hamilton               MERCEDES

<a id="dataframe-characteristics"></a>
### DataFrame Characteristics

In [20]:
f1_2019_races.shape

(21, 4)

In [21]:
f1_2019_races.describe()

            laps
count  21.000000
mean   60.095238
std     9.005025
min    44.000000
25%    53.000000
50%    57.000000
75%    70.000000
max    78.000000

In [22]:
# describe is also available for Series (a column in the DataFrame)
f1_2019_races['car'].describe()

count           21
unique           3
top       MERCEDES
freq            15
Name: car, dtype: object

In [23]:
# view the first few rows (defaults to first 5)
f1_2019_races.head()

   grand_prix  laps           winner       car
0   Australia    58  Valtteri Bottas  MERCEDES
1     Bahrain    57   Lewis Hamilton  MERCEDES
2       China    56   Lewis Hamilton  MERCEDES
3  Azerbaijan    51  Valtteri Bottas  MERCEDES
4       Spain    66   Lewis Hamilton  MERCEDES

In [24]:
f1_2019_races.head(3) # we can specify how many we want instead of the default value.

  grand_prix  laps           winner       car
0  Australia    58  Valtteri Bottas  MERCEDES
1    Bahrain    57   Lewis Hamilton  MERCEDES
2      China    56   Lewis Hamilton  MERCEDES

In [25]:
# view the last few rows (defaults to last 5)
f1_2019_races.tail()

       grand_prix  laps           winner                    car
16          Japan    52  Valtteri Bottas               MERCEDES
17         Mexico    71   Lewis Hamilton               MERCEDES
18  United States    56  Valtteri Bottas               MERCEDES
19         Brazil    71   Max Verstappen  RED BULL RACING HONDA
20      Abu Dhabi    55   Lewis Hamilton               MERCEDES

In [26]:
f1_2019_races.tail(7) # we can specify how many we want instead of the default value.

       grand_prix  laps            winner                    car
14      Singapore    61  Sebastian Vettel                FERRARI
15         Russia    53    Lewis Hamilton               MERCEDES
16          Japan    52   Valtteri Bottas               MERCEDES
17         Mexico    71    Lewis Hamilton               MERCEDES
18  United States    56   Valtteri Bottas               MERCEDES
19         Brazil    71    Max Verstappen  RED BULL RACING HONDA
20      Abu Dhabi    55    Lewis Hamilton               MERCEDES

<a id="dataframe-indexing"></a>
### DataFrame Indexing

**Using iloc to select a single row**

In [27]:
# select the first row by index position
f1_2019_races.iloc[0]

grand_prix          Australia
laps                       58
winner        Valtteri Bottas
car                  MERCEDES
Name: 0, dtype: object

In [28]:
# select the last row by index position
f1_2019_races.iloc[-1]

grand_prix         Abu Dhabi
laps                      55
winner        Lewis Hamilton
car                 MERCEDES
Name: 20, dtype: object

**Using iloc to select multiple rows (slicing)**

In [29]:
# select rows associated with indexes 7-13
f1_2019_races.iloc[7:14]

       grand_prix  laps           winner                    car
7          France    53   Lewis Hamilton               MERCEDES
8         Austria    71   Max Verstappen  RED BULL RACING HONDA
9   Great Britain    52   Lewis Hamilton               MERCEDES
10        Germany    64   Max Verstappen  RED BULL RACING HONDA
11        Hungary    70   Lewis Hamilton               MERCEDES
12        Belgium    44  Charles Leclerc                FERRARI
13          Italy    53  Charles Leclerc                FERRARI

**Using iloc to select multiple rows with steps (slicing with steps)**

In [30]:
# select every third race in the DataFrame starting with the 3rd race
# remember that arrays use zero based indexes
f1_2019_races.iloc[2::3]

   grand_prix  laps            winner                    car
2       China    56    Lewis Hamilton               MERCEDES
5      Monaco    78    Lewis Hamilton               MERCEDES
8     Austria    71    Max Verstappen  RED BULL RACING HONDA
11    Hungary    70    Lewis Hamilton               MERCEDES
14  Singapore    61  Sebastian Vettel                FERRARI
17     Mexico    71    Lewis Hamilton               MERCEDES
20  Abu Dhabi    55    Lewis Hamilton               MERCEDES

**Setting an index**

In [31]:
f1_2019_races = f1_2019_races.set_index(f1_2019_races['grand_prix'])

**Using loc to select a single row**

In [32]:
# select the row corresponding to the Brazilian Grand Prix
f1_2019_races.loc['Brazil']

grand_prix                   Brazil
laps                             71
winner               Max Verstappen
car           RED BULL RACING HONDA
Name: Brazil, dtype: object

<a id="conditionals"></a>
### Conditionals

Single condition

In [33]:
# Find races that Mercedes did not win first place.
f1_2019_races[f1_2019_races['car'] != 'MERCEDES']

           grand_prix  laps            winner                    car
grand_prix
Austria       Austria    71    Max Verstappen  RED BULL RACING HONDA
Germany       Germany    64    Max Verstappen  RED BULL RACING HONDA
Belgium       Belgium    44   Charles Leclerc                FERRARI
Italy           Italy    53   Charles Leclerc                FERRARI
Singapore   Singapore    61  Sebastian Vettel                FERRARI
Brazil         Brazil    71    Max Verstappen  RED BULL RACING HONDA

When using multiple conditions be sure to:  
* separate each condition with the & sign  
* wrap each condition in parentheses

In [34]:
# Find the races where the race had less than 60 laps and the winner was someone other than Lewis Hamilton
f1_2019_races[(f1_2019_races['laps'] < 60) & (f1_2019_races['winner'] != 'Lewis Hamilton')]

                  grand_prix  laps           winner       car
grand_prix
Australia          Australia    58  Valtteri Bottas  MERCEDES
Azerbaijan        Azerbaijan    51  Valtteri Bottas  MERCEDES
Belgium              Belgium    44  Charles Leclerc   FERRARI
Italy                  Italy    53  Charles Leclerc   FERRARI
Japan                  Japan    52  Valtteri Bottas  MERCEDES
United States  United States    56  Valtteri Bottas  MERCEDES

<a id="resources"></a>
### Resources

* [User Guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html)
* [Pandas Category Data Type](https://pbpython.com/pandas_dtypes_cat.html)